* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bungee Spice", sans-serif;
  background-image: url(UI\ Text\ Files.gif);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: transparent;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 2px 16px 5px rgba(255, 255, 255, 1);
  width: 400px;
  text-align: center;
}

h1 {
  color: #fdfcfc;
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 0px 2px 16px 5px rgba(255, 255, 255, 1);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding-left: 33px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  background-color: #168edf;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #03d6fc;
}

#response-message {
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 500px) {
  .container {
      width: 100%;
      padding: 20px;
  }
}

.g-recaptcha {
  margin-left: 10px;
  margin-bottom: 10px;
}

#email-form i {
  position: absolute;
  margin-left: 10px;
  margin-top: 22px;
}
